* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: -8px;
    background-color: rgb(238, 238, 238);
}

.container-footer {
    width: 100%;
    height: 350px;
    padding-top: 60px;
}

.ligne-color {
    width: 100%;
    height: 8px;
    background-color: rgb(185, 0, 0);
}

footer {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    padding-top: 40px;
}

.footer-basic {
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: rgb(204, 201, 201);
    position: relative;
    left: 20%;
}

.footer-basic div {
    width: 25%;
}

.footer-basic div h4 {
    margin-top: 20px;
    cursor: pointer;
    transition: .4s;
}

.footer-basic div h4:hover {
    transform: scale(1.05);
}

.footer-basic p {
    margin-top: 20px;
}

.footer-basic a {
    text-decoration: none;
    color: rgb(194, 194, 194);
    padding: 0px 6px;
    margin-top: 20px;
}

.footer-basic a i{
    margin-top: 20px;
    font-size: 30px;
    transition: .4s;
}

.footer-basic a i:hover{
    transform: scale(1.3);
    color: white;
}

.copy-right {
    text-align: center;
    margin-top: 30px;
    color: rgb(156, 156, 156);
    font-size: 18px;
}



/* 650px */
@media screen and (max-width: 650px) {
    .container-footer {
        width: 100%;
        height: 600px;
    }

    .footer-basic div {
        width: 60%;
    }

    .footer-basic h2 {
        margin-top: 20px;
    }

    .footer-basic {
        display: block;
    }
}

/* 420px */
@media screen and (max-width: 420px) {
    .container-footer {
        width: 100%;
        height: 600px;
    }

    .footer-basic div {
        width: 100%;
    }
}

/* 280px */
@media screen and (max-width: 280px) {
    .container-footer {
        width: 100%;
        height: 800px;
    }

    .footer-basic div {
        width: 100%;
    }
}
    