<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-footer">
        <div class="ligne-color"></div>
        <footer>
            <div class="footer-basic">
                <div>
                    <h2>Contact</h2>
                    <h4><i class="fa-solid fa-envelope-circle-check"></i> exemple@exemple.com</h4>
                    <h4><i class="fa-solid fa-phone"></i> +212682266717</h4>
                    
                </div>
                <div>
                    <h2>About</h2>
                    <p>Best IPTV Service (YBS IPTV) has many years of experience and we promise to do our best for you.</p>
                </div>
                <div>
                    <h2>Follow us</h2>
                    <a routerLink=""><i class="fa-brands fa-facebook"></i></a>
                    <a routerLink=""><i class="fa-brands fa-instagram"></i></a>
                    <a routerLink=""><i class="fa-brands fa-square-twitter"></i></a>
                    <a routerLink=""><i class="fa-brands fa-telegram"></i></a>
                </div>
            </div>
            <div class="copy-right">
                <P>Copyright ©2022| All Rights Reserved</P>
            </div>
        </footer>
    </div>

</body>
</html>
