<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



<!-- support -->
<div class="support">
    <img src="../../assets/images/support.png" alt="">
    <p>Support is available 24/7.</p>
    <p>Seek for help if you find any problem.</p>
</div>


<!-- subscribes -->
<div class="container-subscribes">
    <div class="words-subscribes">
        <h3>Subscribe now!</h3>
        <p>Join us now and enjoy 15000+ (Video, Movie, Football, Tv shows...).</p>
        <h1>Get your plan!</h1>
    </div>
    <div class="card-subscribes">
        <div class="card">
            <h1>1 Month</h1>
            <h4>1 connection</h4>
            <h2>16.49$</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channel</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>3 Month</h1>
            <h4>1 connection</h4>
            <h2>26.49 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>6 Month</h1>
            <h4>1 connection</h4>
            <h2>46.49 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>12 Month</h1>
            <h4>1 connection</h4>
            <h2>75.49 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
    </div>
</div>


<!-- football-Image-Words -->
<div class="container-football">
    <div class="image-football">
        <img src="../../assets/images/ex-tv-2.png" alt="">
    </div>
    <div class="words-football">
        <h1>The World Cup is coming soon.</h1>
        <p>Watch football matches with your friends, enjoy your favorite movies and series ...</p>
    </div>
</div>


<!-- Supported Software -->
<div class="container-software">
    <div>
        <h1>Supported software</h1>
    </div>
    <div>
        <div>
            <h2>Smart Phone</h2>
            <h2>Pc</h2>
            <h2>Smart TV</h2>
        </div>
        <div>
            <img src="../../assets/images/Softwares-Logo.png" alt="">
        </div>
    </div>
</div>

<!-- whatssap-icon -->
<!-- <div class="whatssap-logo">
    <a href="https://wa.me/212650664270"><img src="../../assets/images/Whatsap-logo.png" alt=""></a>
</div> -->

</body>
</html>





