* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: -8px;
    background-color: rgb(238, 238, 238);
}


/* support */
.support {
    width: 50%;
    height: 200px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
}

.support img {
    width: 15%;
    padding-bottom: 10px;    
}

.support p {
    font-family: cursive;
    font-size: 20px;
}



/* subscribes */
.container-subscribes {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* margin: -8px; */
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    padding-bottom: 5%;
}

.words-subscribes h3 {
    color:#D70000;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.words-subscribes p {
    font-size: 16px;
    font-family: cursive;
    padding-top: 10px;
    padding-bottom: 20px;
}

.words-subscribes h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
}

.card-subscribes {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.card {
    width: 22%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgb(131, 131, 131);
    transition: .4s;
}

.card:hover {
    transform: scale(1.1);
    /* background-color: rgb(241, 252, 255); */
}

.card-bottom {
    background-color: #dddddd;
    height: auto;
    border: none;
    text-align: left;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 8%;
}

.card h1 {
    font-family: serif;
}

.card h4 {
    font-family: serif;
    font-weight: lighter;
    color: rgb(110, 106, 106);
}

.card h2 {
    font-family: cursive;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px; transition: .4s;
}

.card:hover h2 {
    color: rgb(29, 160, 79);
}

.card-bottom p {
    font-size: 19px;
    margin-top: 15px;
}

.card-bottom p i {
    color: rgb(164, 164, 190);
    transition: .4s;
}

.card:hover .card-bottom p i {
    color: rgb(29, 160, 79);
}

.card button {
    padding: 5% 8%;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;    
    font-weight: bold;
    border: none;
    margin-top: 10%;
    background-color: rgb(29, 160, 79);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .5s;    
}

.card:hover button {
    box-shadow: 4px 4px 40px black;
}

.card button:hover {
    transform: scale(0.9);
}


/* football */
.container-football {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    position: relative;
}

.image-football {
    width: 50%;
    height: auto;
    padding-left: 5%;

}

.image-football img {
    width: 100%;
}

.words-football {
    width: 50%;
    height: auto;
    text-align: center;
}

.words-football h1 {
    position: absolute;
    top: 36%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    font-size: 42px;
    color: #D70000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.words-football p {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, 0);
    width: 30%;
    font-size: 26px;
    color: rgb(51, 49, 49);
    font-family: cursive;
}


/* softwares */
.container-software {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 5%;
}

.container-software h1 {
    font-size: 48px;
    color: #D70000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3%;
}

.container-software h2 {
    display: inline-block;
    margin-top: 3%;
    padding: 10px 80px;
    font-size: 32px;
    color: rgb(51, 49, 49);
}

.container-software img{
    width: 50%;
}






/* 790px */
@media screen and (max-width: 790px){
    .card-subscribes {
        display: block;
        
    }

    .card {
        width: 100%;
        height: git commit -m "first commit"auto;
        background-color: rgb(255, 255, 255);
        padding-top: 40px;
        padding-bottom: 30px;
        border: none;
        border-radius: 10px;
        box-shadow: 6px 6px 20px rgb(131, 131, 131);
        transition: .4s;
        margin-bottom: 7%;
    }

    .card:hover {
        transform: scale(1.05);
        /* background-color: rgb(241, 252, 255); */
    }

    .words-football {
        width: 100%;
        height: 300px;
        text-align: center;
    }

    .container-football {
        display: block;
        padding-bottom: 10px;
    }

    .words-football h1 {
        position: relative;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        
    }
    
    .words-football p {
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        font-size: 20px;
    }

    .image-football {
        width: 100%;
        height: auto;
    
    }
    
    .image-football img {
        width: 90%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}



/* 450px */
@media screen and (max-width: 450px) {
    .support {
        height: 250px;
    }

    .container-football {
        display: block;
        padding-bottom: 40px;
    }
}



/* 350px */
@media screen and (max-width: 350px) {
    .support {
        height: 300px;
    }

    .container-football {
        display: block;
        padding-bottom: 80px;
    }
}


@media  screen and (max-width: 270px) {
    .container-football {
        display: block;
        padding-bottom: 150px;
    }
    
}


/* 220px */
@media screen and (max-width: 250px) {
    .support {
        height: 400px;
        width: 100px;
    }

    .container-football {
        display: block;
        padding-bottom: 350px;
    }

    .container-software h1 {
        margin-top: 20px;
        font-size: 30px;
    }

    .container-software h2 {
        display: inline-block;
        margin-top: 3%;
        padding:0;
        padding-top: 10px;
        font-size: 32px;
        color: rgb(51, 49, 49);
    }

    .container-software img {
        margin-top: 10px;
    }

}