<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!-- navbar -->
<div class="container-navbar">
    <nav>
        <h2 class="logo"><img class="logo-img" src="../../assets/images/logo.png" alt=""></h2>
        <!-- <h2 class="logo">YBS-<span>IPTV</span></h2> -->
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button class="subscrib">SUBSCRIBE</button>
    </nav>
</div>

<!-- support -->
<div class="support">
    <img src="../../assets/images/support.png" alt="">
    <p>Support is available 24/7.</p>
    <p>Seek for help if you find any problem.</p>
</div>

<!-- subscribes -->
<div class="container-subscribes">
    <div class="words-subscribes">
        <h3>Subscribe now!</h3>
        <p>Join us now and enjoy 15000+ (Video, Movie, Football, Tv shows...).</p>
        <h1>Get your plan!</h1>
    </div>
    <div class="card-subscribes">
        <div class="card">
            <h1>1 Month</h1>
            <h4>1 connection</h4>
            <h2>15.00$</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channel</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>3 Month</h1>
            <h4>1 connection</h4>
            <h2>26.00 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>6 Month</h1>
            <h4>1 connection</h4>
            <h2>46.00 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
        <div class="card">
            <h1>12 Month</h1>
            <h4>1 connection</h4>
            <h2>70.00 $</h2>
            <div class="card-bottom">
                <p><i class="fa-solid fa-check"></i> +15.000 Channels</p>
                <p><i class="fa-solid fa-check"></i> +7000 Film, Serie</p>
                <p><i class="fa-solid fa-check"></i> Automatic update</p>
                <p><i class="fa-solid fa-check"></i> HD/FHD/4K</p>
                <p><i class="fa-solid fa-check"></i> 100% Uptime</p>
                <p><i class="fa-solid fa-check"></i> Phone, PC, Smart TV</p>
                <p><i class="fa-solid fa-check"></i> 24/7 Support</p>
            </div>
            <button>SUBSCRIBE</button>
        </div>
    </div>
</div>


</body>
</html>





